<style>
	 html body {
		 background: none;
		 font-weight: bold;
	 }
    .wrapper {
  font-size: 20px !important;
  width: 324px !important;
  margin: 0 auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}
tr{
font-size: 20px;

}
td{
font-size: 20px;

}
th, td  {
  padding: 3px !important;
  border: 0px !important;
  border-bottom: 1px solid #ddd !important;
  background: none !important;
  color: black !important;
}
.vat {
  padding: 12px;
  float: left;
  font-weight: bold;
}

    </style>